language: php
php:
- 7.1
env:
  matrix:
  - PHP_BIN=php
  global:
  - secure: "wl76ctwKcMuk5HlPQoQ+ytWNCUxaZfJSU7kGRojJlm9ItQVdMu15TyBwCrUlEYKo6hNGZcKOBKS9AWiHZsOCefZQxgULkYIu7GINSMGYIibJv9U8/YhAZWR1ERex34znwopuKPjH5Wa/eVn8AehBXZQtPgpYDK5WUekR6c6HjX6gOP6uK+P1QecDFutX7VWP91P5tlDJO9ifrG+Krdk0FqOIa1IPcav+nEuxivqSgrJJQcvawsyR+D/TS2Z5skHxMKR0uiyS3DD/o40M+xWJd076mwrWe8fmPROcyiCLHRP+rLLBzK+w8+lz/aM9zWKTi9VPc2omTaXjSoquXYfJVxKM+6i0vUzWvZf0BBuSzy79baFLF01VZ3eaF+IOD0E1nsEzqXNWgFtJcuhAsHFj5OEiQG27bWkDb39kmQbNwow9V7rLSJbf3zctExTzFtsIOMiCWNYKbrW8qCr5HtknGxm8+txC31TWaS/gx4EfDRCo11cd9Lif8rihDBmZqj/mXU7PpBXEd4NyLZOX87NcN9QH9Sc+u+U/n1arH2M/iBYGstzrbT7YHR+vH4AIGqFId9hRjHUJObJ8xhIyIoQndPxI3SqXyP9ea6sCBoTKGnAb/u5T5rmSMFMPTMdMnxgLeeYg6++FG4oKL7zfAuyCRP28AnpTezjgXQRTTA3jFVk="
  - secure: "rzZBs7cEIycMG0Ctx3nnhQDmmg4clO0EpH7k0JulKNtb/CDDXfSrplTzE0YgkCY1oExy+wD1DCjCvQtXCU3z/O2GgTtGgSjtOQ3+vy9dIHMSx8hoPetisej5rgSJ4lR68yjPPM/HZiDPWpSIH5IHMYWtk9cvmRmuq4q5UUU/4dgEKUhei4FiNYCBfYFfnyLnz5oZIKhJTZ1a2kPSdsyMl15XnH+rF72RGQ+ArzD8qzKP9ClqBJ3ZlZ94ELHsxuz1TDaA9VwfLPBzNQ5+mZEGcnnPU1z4+cWC1fIRaWtnRhbBWf7fT+qFk5jme1nRotvQ7IUsoQYetSGONMcviRZAPSxg3swixUcY/95hatshqZMo13v6ogREQ0sH7dS9nCwuA4VuXzaOoUnFNx1GWET4j2nuz41LMOAcJKZLxXPEEqyrpaSpOZboXwvgkhcUZb9SToALcoBmf0wwlszhDLuP7dkY7WcKRLLCifsRwr2wSGJRPlEsMY9unOOGsMrXwyn0103FNmAzaGqg8goeB/dwQ9q79Orc6rGY4N5bIlBb1B5DAiPugeEI+WtnbAZTEFZTHlWjn/8h9ynbRayX9a41ysiWNVr8shDJ1nwm7JWoBl911ZV+UHWigEXsZsMLVlHb+IYkSTgHIOHDU0EE62m9Z/q64YyerPzcMnO07jOJIdw="
script:
- vendor/bin/tester -p $PHP_BIN tests -s
after_failure:
- for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done
before_script:
- mkdir -p temp/cache
- mkdir log
- travis_retry composer install --no-interaction --prefer-dist
after_success:
- php bin/minify.php
- composer install --no-dev -o
- docker login -u "$DHUSER" -p "$DHPASS"
- docker build -t kozaktomas/sdhveselice:master .
- docker push kozaktomas/sdhveselice:master
sudo: required
services:
- docker
cache:
  directories:
  - "$HOME/.composer/cache"