parameters:

php:
    date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Sdh\Veselice\Presenters\*Presenter

session:
	expiration: 2 days
	autoStart: false



services:
	- Sdh\Veselice\Model\ArticleList
	routerFactory: Sdh\Veselice\Router\RouterFactory
	router: @routerFactory::createRouter
