{block content}
    <h1>{block title}{$article->getTitle()}{/block}</h1>

    <img src="{$article->getImage()}" alt="cover photo" class="img-responsive illustration-photo hidden-xs hidden-sm">
    {$article->getContent()|noescape}
{/block}