{block title}
    Masopust 2014
{/block}

{block image}/articles/ostatky_2014.jpg{/block}

{block preheader}
    Pár fotek z ostatkového průvodu.
{/block}

{block content}

    <div class="clear"></div>
    <h2>Galerie:</h2>
    <div class="gallery">
        {for $i = 1; $i <= 10; $i++}
            <div class="col-lg-6 col-xs-12">
                <img alt="Obrazek v galerii" class="img-responsive" src="/gallery/ostatky_2014/{$i}.jpg"/>
            </div>
        {/for}
    </div>

{/block}