{block title}
    Pozvánka na valnou hromadu 3. ledna 2015
{/block}

{block image}/articles/pozvanka_valna_hromada_2015.jpg{/block}

{block preheader}
    SDH Veselice Vás zve na VALNOU HROMADU, která se koná dne 3. ledna 2015 v 17:00 v herně stolního tenisu.
{/block}

{block content}
    <p>SDH Veselice Vás zve na VALNOU HROMADU, která se koná dne <strong>3. ledna 2015 v 17:00 v herně stolního
            tenisu.</strong></p>
    <p>Zve výbor SDH.</p>
{/block}