{block title}
Pozvánka na valnou hromadu 9. ledna 2016
{/block}

{block image}{/block}

{block preheader}
<p>SDH Veselice zve všechny své členy a příznivce na VALNOU HROMADU, která se koná dne 9. ledna 2016 v 17:00 v sále kulturního domu.</p>
{/block}

{block content}
<p>SDH Veselice zve všechny své členy a příznivce na <strong>VALNOU HROMADU</strong>, která se koná dne 9. ledna 2016 v 17:00 v sále kulturního domu.</p>
{/block}