{block title}
Pozvánka na valnou hromadu 7. 1. 2017
{/block}

{block image}{/block}

{block preheader}
<p>SDH Veselice zve všechny své členy a příznivce na VALNOU HROMADU, která se koná dne 7. ledna 2017 v 17:00 v sále kulturního domu.</p>
{/block}

{block content}
SDH Veselice zve všechny své členy a příznivce na VALNOU HROMADU, která se koná dne 7. ledna 2017 v 17:00 v sále kulturního domu.
{/block}