{block title}
    Pozvánka na valnou hromadu 6. 1. 2018
{/block}

{block image}/articles/pozvanka_valna_hromada_2017.jpg{/block}

{block preheader}
    SDH Veselice zve všechny své členy a příznivce na VALNOU HROMADU, která se koná 6. ledna 2018 v 18:00 v sále
    kulturního domu.
{/block}

{block content}
    <p>SDH Veselice zve všechny své členy a příznivce na VALNOU HROMADU, která se koná 6. ledna 2018 v 18:00 v sále
        kulturního domu.
    </p>
{/block}