<!DOCTYPE html>
<html>
<head>
    <link n:if="$user" rel="stylesheet" href="{$basePath}/css/admin.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="author" content="Tomáš Kozák">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="keywords" content="SDH, hasici, dobrovolní, dobrovolní hasiči, sbor, požární útok, sdhveselice, pouť">
    <meta name="description" content="Oficiální stránky sboru dobrovolných hasičů Veselice.">
    <title>{include title} | SDH Veselice</title>
    <script src="{$basePath}/js/jquery-2.1.1.min.js"></script>
    <script src="{$basePath}/js/lightbox-2.6.min.js"></script>
    <link href="{$basePath}/css/style.css" rel="stylesheet" type="text/css">
    <link href="{$basePath}/css/lightbox.css" rel="stylesheet" type="text/css">
    <script n:syntax="off">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-10986596-2', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
{block|strip}
    <div n:if="$user" class="adminbar">
        <ul>
            <li><a n:href="Article:admin">Přidat článek</a></li>
            <li><a n:href="File:default">Soubory</a></li>
            <li><a n:href="Sign:out">Odhlásit se</a></li>
        </ul>
    </div>
    <div class="warp">

        <div class="warp2">

            <div class="header h{$header}"></div>
            <nav>
                <ul>
                    <li><a n:href="Document:default">Domů</a></li>
                    <li><a n:href="Article:list">Novinky</a></li>
                    <li><a n:href="Document:vybor">Výbor</a></li>
                    <li><a n:href="Document:zavody">Závody ve Veselici</a></li>
                    <li><a n:href="Document:sport">Sportovní družstvo</a></li>
                    {*<li><a n:href="Document:mladez">Práce s mládží</a></li>*}
                    <li><a n:href="Document:kontakt">Kontakt</a></li>
                    <li class="lesempolem"><a target="_blank" href="https://lesempolem.cz">Lesempolem</a></li>
                    <li class="facebook"><a target="_blank" href="https://facebook.com/sdhveselice">Facebook</a></li>
                </ul>
            </nav>

            <div class="content">
                <div class="text">

                    {include content}

                </div>

                <div class="right">

                    <div class="box">
                        <h3>
                            <a n:href="Article:list">Novinky</a>
                            <a n:href="Rss:feed">
                                <img src="{$basePath}/images/rss18.png" alt="Rss logo">
                            </a>
                        </h3>
                        <hr>
                        {foreach $news as $new}
                            <h4><a n:href="Article:detail $new->id">{$new->title}</a></h4>
                            <p>{$new->text|striptags|truncate:260}</p>
                            {sep}
                                <hr>
                            {/sep}
                        {/foreach}
                    </div>

                </div>

                <div class="fix"></div>
            </div>


            <footer>
                <div class="links">
                    <a target="_blank" title="Běžecké závody Lesempolem" href="http://lesempolem.cz"><img src="{$basePath}/images/lp.png" alt="logo běžeckých závodů Lesempolem"/></a>
                    <a target="_blank" title="Obec Vavřinec" href="http://vavrinec.cz"><img src="{$basePath}/images/vavrinec.png" alt="Logo obce Vavřinec"/></a>
                    <a target="_blank" title="RSS" n:href="Rss:feed"><img src="{$basePath}/images/rss32.png" alt="Rss feed s novinkami"/></a>
                    <a target="_blank" title="Github" href="https://github.com/kozaktomas/sdhveselice"><img width="32px" src="{$basePath}/images/github-logo.svg" alt="sdhveselice.cz na Githubu"/></a>
                </div>
                {var $year = new DateTime}
                <p>&copy; SDH Veselice 1921 - {$year->format('Y')}</p>
            </footer>

        </div>

    </div>
{/block}
</body>
</html>