<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {if $staticDebug}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/new_style/my.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {else}

    {/if}
</head>
<body>
<div n:if="false" class="full-width-div">
    <div class="img-responsive">
        <img width="100%" src="/1.png" alt="">
    </div>
</div>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {var $action = $presenter->getAction()}
                <li n:class="($action === 'default') ? 'current'">
                    <a n:href="Document:default">Domů</a>
                </li>
                <li n:class="(in_array($action, ['list', 'detail']))  ? 'current'">
                    <a n:href="Article:list">Novinky</a>
                </li>
                <li n:class="($action === 'vybor') ? 'current'">
                    <a n:href="Document:vybor">Výbor</a>
                </li>
                <li n:class="($action === 'zavody') ? 'current'">
                    <a n:href="Document:zavody">Závody ve Veselici</a>
                </li>
                <li n:class="($action === 'sport') ? 'current'">
                    <a n:href="Document:sport">Sportovní družstvo</a>
                </li>
                <li n:class="($action === 'kontakt') ? 'current'">
                    <a n:href="Document:kontakt">Kontakt</a>
                </li>
                <li class="lesempolem">
                    <a target="_blank" href="https://lesempolem.cz">Lesempolem</a>
                </li>
                <li class="facebook">
                    <a target="_blank" href="https://facebook.com/sdhveselice">Facebook</a>
                </li>
            </ul>

            <!--
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
            </ul>
            -->

        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-lg-8 content">
            {include content}
        </div>


        <div class="col-lg-4 col-md-3 col-sm-4">
            <h2>Novinky:</h2>
            <div class="list-group table-of-contents">
                {foreach $news as $new}
                    <a class="list-group-item" n:href="Article:detail $new->getUrl()">
                        <h3>{$new->getTitle()}</h3>
                        <p>{$new->getPreheader()|noescape}</p>
                    </a>
                {/foreach}
            </div>
        </div>
    </div>

</div>


<div class="footer">
    <div class="container">
        <div class="links">
            <a target="_blank" title="Běžecké závody Lesempolem" href="http://lesempolem.cz"><img
                        src="/images/lp.png" alt="logo běžeckých závodů Lesempolem"></a>
            <a target="_blank"
               title="Obec Vavřinec"
               href="http://vavrinec.cz"><img
                        src="/images/vavrinec.png" alt="Logo obce Vavřinec"></a>
            <a target="_blank" title="RSS" href="/rss"><img
                        src="/images/rss32.png" alt="Rss feed s novinkami"></a>
            <a target="_blank" title="Github"
               href="https://github.com/kozaktomas/sdhveselice"><img
                        width="32px" src="/images/github-logo.svg" alt="sdhveselice.cz na Githubu"></a>
        </div>
        {var $now = new \DateTime()}
        <div class="copy">&copy; SDH Veselice 1921 - {$now->format('Y')}</div>
    </div>
</div>


</body>
</html>
